@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Coll`ge de Maisonneuve<br />
    3800 Pie IX<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:aseguin@cmaisonneuve.qc.ca">aseguin@cmaisonneuve.qc.ca</a><br />
</address>